In [1]:
import matplotlib.pyplot as plt
import pandas as pd

data_worries_age_gender = pd.read_csv('../Analysis Data/data_worries_age_gender.csv')
data_worries_age_gender

,Age,What is your gender?,"In general, how worried are you about earthquakes?",Count
0,18 - 29,Female,Very worried,7
1,18 - 29,Female,Extremely worried,9
2,18 - 29,Female,Somewhat worried,26
3,18 - 29,Female,Not so worried,32
4,18 - 29,Female,Not at all worried,35
5,18 - 29,Male,Very worried,7
6,18 - 29,Male,Extremely worried,8
7,18 - 29,Male,Somewhat worried,22
8,18 - 29,Male,Not so worried,32
9,18 - 29,Male,Not at all worried,37
10,30 - 44,Female,Very worried,4
11,30 - 44,Female,Extremely worried,8
12,30 - 44,Female,Somewhat worried,33
13,30 - 44,Female,Not so worried,37
14,30 - 44,Female,Not at all worried,49
15,30 - 44,Male,Very worried,7
16,30 - 44,Male,Extremely worried,10
17,30 - 44,Male,Not so worried,29
18,30 - 44,Male,Somewhat worried,29
19,30 - 44,Male,Not at all worried,51
20,45 - 59,Female,Extremely worried,5
21,45 - 59,Female,Very worried,8
22,45 - 59,Female,Somewhat worried,31
23,45 - 59,Female,Not at all worried,46
24,45 - 59,Female,Not so worried,51
25,45 - 59,Male,Extremely worried,4
26,45 - 59,Male,Very worried,5
27,45 - 59,Male,Somewhat worried,27
28,45 - 59,Male,Not at all worried,49
29,45 - 59,Male,Not so worried,49
30,60,Female,Extremely worried,4
31,60,Female,Very worried,9
32,60,Female,Not at all worried,31
33,60,Female,Somewhat worried,32
34,60,Female,Not so worried,64
35,60,Male,Extremely worried,3
36,60,Male,Very worried,4
37,60,Male,Somewhat worried,18
38,60,Male,Not so worried,33
39,60,Male,Not at all worried,56

In [2]:
data_experience_age_gender = pd.read_csv('../Analysis Data/data_experience_age_gender.csv')
data_experience_age_gender

,Age,What is your gender?,Have you ever experienced an earthquake?,Count
0,18 - 29,Female,"Yes, one or more major ones",6
1,18 - 29,Female,No,51
2,18 - 29,Female,"Yes, one or more minor ones",52
3,18 - 29,Male,"Yes, one or more major ones",7
4,18 - 29,Male,No,48
5,18 - 29,Male,"Yes, one or more minor ones",51
6,30 - 44,Female,"Yes, one or more major ones",17
7,30 - 44,Female,No,55
8,30 - 44,Female,"Yes, one or more minor ones",59
9,30 - 44,Male,"Yes, one or more major ones",18
10,30 - 44,Male,No,38
11,30 - 44,Male,"Yes, one or more minor ones",70
12,45 - 59,Female,"Yes, one or more major ones",23
13,45 - 59,Female,No,58
14,45 - 59,Female,"Yes, one or more minor ones",60
15,45 - 59,Male,"Yes, one or more major ones",28
16,45 - 59,Male,No,37
17,45 - 59,Male,"Yes, one or more minor ones",69
18,60,Female,"Yes, one or more major ones",31
19,60,Female,No,41
20,60,Female,"Yes, one or more minor ones",68
21,60,Male,No,30
22,60,Male,"Yes, one or more major ones",32
23,60,Male,"Yes, one or more minor ones",52

In [3]:
data_bigone_age_gender = pd.read_csv('../Analysis Data/data_bigone_age_gender.csv')
data_bigone_age_gender

,Age,What is your gender?,"Do you think the ""Big One"" will occur in your lifetime?",Count
0,18 - 29,Female,Yes,47
1,18 - 29,Female,No,62
2,18 - 29,Male,Yes,41
3,18 - 29,Male,No,65
4,30 - 44,Female,Yes,61
5,30 - 44,Female,No,70
6,30 - 44,Male,Yes,59
7,30 - 44,Male,No,67
8,45 - 59,Female,Yes,61
9,45 - 59,Female,No,80
10,45 - 59,Male,Yes,60
11,45 - 59,Male,No,74
12,60,Female,Yes,55
13,60,Female,No,85
14,60,Male,Yes,46
15,60,Male,No,68

In [4]:
data_precautions_age_gender = pd.read_csv('../Analysis Data/data_precautions_age_gender.csv')
data_precautions_age_gender

,Age,What is your gender?,"Have you or anyone in your household taken any precautions for an earthquake (packed an earthquake survival kit, prepared an evacuation plan, etc.)?",Count
0,18 - 29,Female,Yes,15
1,18 - 29,Female,No,94
2,18 - 29,Male,Yes,20
3,18 - 29,Male,No,86
4,30 - 44,Female,Yes,21
5,30 - 44,Female,No,110
6,30 - 44,Male,Yes,26
7,30 - 44,Male,No,100
8,45 - 59,Female,Yes,27
9,45 - 59,Female,No,114
10,45 - 59,Male,Yes,41
11,45 - 59,Male,No,93
12,60,Female,Yes,37
13,60,Female,No,103
14,60,Male,Yes,30
15,60,Male,No,84

In [5]:
data_sa_age_gender = pd.read_csv('../Analysis Data/data_sa_age_gender.csv')
data_sa_age_gender

,Age,What is your gender?,How familiar are you with the San Andreas Fault line?,Count
0,18 - 29,Female,Extremely familiar,5
1,18 - 29,Female,Very familiar,16
2,18 - 29,Female,Not so familiar,20
3,18 - 29,Female,Not at all familiar,24
4,18 - 29,Female,Somewhat familiar,44
5,18 - 29,Male,Extremely familiar,9
6,18 - 29,Male,Not so familiar,10
7,18 - 29,Male,Not at all familiar,19
8,18 - 29,Male,Very familiar,24
9,18 - 29,Male,Somewhat familiar,44
10,30 - 44,Female,Extremely familiar,15
11,30 - 44,Female,Not at all familiar,15
12,30 - 44,Female,Not so familiar,18
13,30 - 44,Female,Very familiar,25
14,30 - 44,Female,Somewhat familiar,58
15,30 - 44,Male,Not at all familiar,8
16,30 - 44,Male,Not so familiar,15
17,30 - 44,Male,Extremely familiar,22
18,30 - 44,Male,Very familiar,38
19,30 - 44,Male,Somewhat familiar,43
20,45 - 59,Female,Extremely familiar,13
21,45 - 59,Female,Not at all familiar,18
22,45 - 59,Female,Not so familiar,25
23,45 - 59,Female,Very familiar,25
24,45 - 59,Female,Somewhat familiar,60
25,45 - 59,Male,Not at all familiar,7
26,45 - 59,Male,Not so familiar,10
27,45 - 59,Male,Extremely familiar,21
28,45 - 59,Male,Somewhat familiar,45
29,45 - 59,Male,Very familiar,51
30,60,Female,Not at all familiar,9
31,60,Female,Not so familiar,12
32,60,Female,Extremely familiar,27
33,60,Female,Very familiar,33
34,60,Female,Somewhat familiar,59
35,60,Male,Not so familiar,4
36,60,Male,Not at all familiar,6
37,60,Male,Extremely familiar,21
38,60,Male,Very familiar,39
39,60,Male,Somewhat familiar,44

In [6]:
data_yellowstone_age_gender  = pd.read_csv('../Analysis Data/data_yellowstone_age_gender.csv')
data_yellowstone_age_gender

,Age,What is your gender?,How familiar are you with the Yellowstone Supervolcano?,Count
0,18 - 29,Female,Extremely familiar,3
1,18 - 29,Female,Very familiar,11
2,18 - 29,Female,Not so familiar,28
3,18 - 29,Female,Not at all familiar,33
4,18 - 29,Female,Somewhat familiar,34
5,18 - 29,Male,Extremely familiar,12
6,18 - 29,Male,Not so familiar,15
7,18 - 29,Male,Very familiar,21
8,18 - 29,Male,Not at all familiar,24
9,18 - 29,Male,Somewhat familiar,34
10,30 - 44,Female,Extremely familiar,10
11,30 - 44,Female,Very familiar,12
12,30 - 44,Female,Somewhat familiar,35
13,30 - 44,Female,Not so familiar,36
14,30 - 44,Female,Not at all familiar,38
15,30 - 44,Male,Extremely familiar,16
16,30 - 44,Male,Not at all familiar,21
17,30 - 44,Male,Not so familiar,23
18,30 - 44,Male,Very familiar,24
19,30 - 44,Male,Somewhat familiar,42
20,45 - 59,Female,Extremely familiar,5
21,45 - 59,Female,Very familiar,15
22,45 - 59,Female,Somewhat familiar,29
23,45 - 59,Female,Not so familiar,39
24,45 - 59,Female,Not at all familiar,53
25,45 - 59,Male,Extremely familiar,16
26,45 - 59,Male,Not so familiar,21
27,45 - 59,Male,Very familiar,26
28,45 - 59,Male,Not at all familiar,27
29,45 - 59,Male,Somewhat familiar,44
30,60,Female,Very familiar,10
31,60,Female,Extremely familiar,17
32,60,Female,Somewhat familiar,32
33,60,Female,Not so familiar,34
34,60,Female,Not at all familiar,47
35,60,Male,Extremely familiar,14
36,60,Male,Very familiar,20
37,60,Male,Not so familiar,23
38,60,Male,Not at all familiar,27
39,60,Male,Somewhat familiar,30

In [7]:
data_worries_region = pd.read_csv('../Analysis Data/data_worries_region.csv')
data_worries_region

,US Region,"In general, how worried are you about earthquakes?",Count
0,East North Central,Very worried,3
1,East North Central,Extremely worried,8
2,East North Central,Somewhat worried,16
3,East North Central,Not so worried,49
4,East North Central,Not at all worried,64
5,East South Central,Extremely worried,1
6,East South Central,Somewhat worried,10
7,East South Central,Not so worried,13
8,East South Central,Not at all worried,16
9,Middle Atlantic,Very worried,3
10,Middle Atlantic,Extremely worried,6
11,Middle Atlantic,Somewhat worried,22
12,Middle Atlantic,Not so worried,46
13,Middle Atlantic,Not at all worried,60
14,Mountain,Very worried,1
15,Mountain,Extremely worried,5
16,Mountain,Somewhat worried,15
17,Mountain,Not so worried,20
18,Mountain,Not at all worried,26
19,New England,Extremely worried,3
20,New England,Very worried,3
21,New England,Somewhat worried,7
22,New England,Not at all worried,21
23,New England,Not so worried,29
24,Pacific,Extremely worried,9
25,Pacific,Not at all worried,26
26,Pacific,Very worried,28
27,Pacific,Not so worried,60
28,Pacific,Somewhat worried,83
29,South Atlantic,Very worried,4
30,South Atlantic,Extremely worried,6
31,South Atlantic,Somewhat worried,27
32,South Atlantic,Not at all worried,57
33,South Atlantic,Not so worried,61
34,West North Central,Extremely worried,3
35,West North Central,Very worried,4
36,West North Central,Somewhat worried,13
37,West North Central,Not so worried,14
38,West North Central,Not at all worried,37
39,West South Central,Very worried,2
40,West South Central,Extremely worried,6
41,West South Central,Somewhat worried,19
42,West South Central,Not so worried,28
43,West South Central,Not at all worried,44

In [8]:
data_earthquake_region = pd.read_csv('../Analysis Data/data_earthquake_region.csv')
data_earthquake_region

             US Region Have you ever experienced an earthquake?  Count
0   East North Central              Yes, one or more major ones      3
1   East North Central                                       No     61
2   East North Central              Yes, one or more minor ones     76
3   East South Central                                       No     20
4   East South Central              Yes, one or more minor ones     20
5      Middle Atlantic              Yes, one or more major ones      8
6      Middle Atlantic                                       No     48
7      Middle Atlantic              Yes, one or more minor ones     81
8             Mountain                                       No     16
9             Mountain              Yes, one or more major ones     22
10            Mountain              Yes, one or more minor ones     29
11         New England              Yes, one or more major ones      3
12         New England              Yes, one or more minor ones     26
13         New England                                       No     34
14             Pacific                                       No     19
15             Pacific              Yes, one or more major ones     93
16             Pacific              Yes, one or more minor ones     94
17      South Atlantic              Yes, one or more major ones     10
18      South Atlantic                                       No     60
19      South Atlantic              Yes, one or more minor ones     85
20  West North Central              Yes, one or more major ones      4
21  West North Central              Yes, one or more minor ones     20
22  West North Central                                       No     47
23  West South Central              Yes, one or more major ones     13
24  West South Central              Yes, one or more minor ones     40
25  West South Central                                       No     46

In [9]:
data_sf_region = pd.read_csv('../Analysis Data/data_sf_region.csv')
data_sf_region

,US Region,How familiar are you with the San Andreas Fault line?,Count
0,East North Central,Extremely familiar,9
1,East North Central,Not at all familiar,17
2,East North Central,Not so familiar,21
3,East North Central,Very familiar,31
4,East North Central,Somewhat familiar,62
5,East South Central,Not so familiar,4
6,East South Central,Extremely familiar,6
7,East South Central,Not at all familiar,6
8,East South Central,Very familiar,8
9,East South Central,Somewhat familiar,16
10,Middle Atlantic,Extremely familiar,14
11,Middle Atlantic,Not at all familiar,14
12,Middle Atlantic,Not so familiar,19
13,Middle Atlantic,Very familiar,39
14,Middle Atlantic,Somewhat familiar,51
15,Mountain,Not at all familiar,4
16,Mountain,Not so familiar,4
17,Mountain,Extremely familiar,10
18,Mountain,Very familiar,20
19,Mountain,Somewhat familiar,29
20,New England,Extremely familiar,5
21,New England,Not at all familiar,5
22,New England,Not so familiar,7
23,New England,Very familiar,21
24,New England,Somewhat familiar,25
25,Pacific,Not at all familiar,13
26,Pacific,Not so familiar,15
27,Pacific,Extremely familiar,49
28,Pacific,Somewhat familiar,63
29,Pacific,Very familiar,66
30,South Atlantic,Extremely familiar,16
31,South Atlantic,Not at all familiar,22
32,South Atlantic,Not so familiar,27
33,South Atlantic,Very familiar,27
34,South Atlantic,Somewhat familiar,63
35,West North Central,Not so familiar,5
36,West North Central,Not at all familiar,7
37,West North Central,Extremely familiar,8
38,West North Central,Very familiar,15
39,West North Central,Somewhat familiar,36
40,West South Central,Not so familiar,4
41,West South Central,Not at all familiar,13
42,West South Central,Extremely familiar,15
43,West South Central,Very familiar,20
44,West South Central,Somewhat familiar,47

In [10]:
data_yellowstone_region = pd.read_csv('../Analysis Data/data_yellowstone_region.csv')
data_yellowstone_region

,US Region,How familiar are you with the Yellowstone Supervolcano?,Count
0,East North Central,Extremely familiar,10
1,East North Central,Very familiar,12
2,East North Central,Not so familiar,36
3,East North Central,Somewhat familiar,39
4,East North Central,Not at all familiar,43
5,East South Central,Very familiar,4
6,East South Central,Extremely familiar,5
7,East South Central,Not so familiar,6
8,East South Central,Not at all familiar,9
9,East South Central,Somewhat familiar,16
10,Middle Atlantic,Extremely familiar,18
11,Middle Atlantic,Very familiar,19
12,Middle Atlantic,Somewhat familiar,27
13,Middle Atlantic,Not so familiar,28
14,Middle Atlantic,Not at all familiar,45
15,Mountain,Not so familiar,6
16,Mountain,Extremely familiar,12
17,Mountain,Not at all familiar,12
18,Mountain,Very familiar,16
19,Mountain,Somewhat familiar,21
20,New England,Extremely familiar,1
21,New England,Very familiar,7
22,New England,Not at all familiar,12
23,New England,Not so familiar,18
24,New England,Somewhat familiar,25
25,Pacific,Extremely familiar,17
26,Pacific,Not so familiar,42
27,Pacific,Very familiar,43
28,Pacific,Not at all familiar,52
29,Pacific,Somewhat familiar,52
30,South Atlantic,Extremely familiar,8
31,South Atlantic,Very familiar,16
32,South Atlantic,Not so familiar,35
33,South Atlantic,Not at all familiar,47
34,South Atlantic,Somewhat familiar,49
35,West North Central,Extremely familiar,8
36,West North Central,Not so familiar,13
37,West North Central,Very familiar,13
38,West North Central,Somewhat familiar,17
39,West North Central,Not at all familiar,20
40,West South Central,Very familiar,9
41,West South Central,Extremely familiar,14
42,West South Central,Not at all familiar,22
43,West South Central,Not so familiar,27
44,West South Central,Somewhat familiar,27

In [11]:
data_precautions_region = pd.read_csv('../Analysis Data/data_precautions_region.csv')
data_precautions_region

,US Region,"Have you or anyone in your household taken any precautions for an earthquake (packed an earthquake survival kit, prepared an evacuation plan, etc.)?",Count
0,East North Central,Yes,12
1,East North Central,No,128
2,East South Central,Yes,9
3,East South Central,No,31
4,Middle Atlantic,Yes,11
5,Middle Atlantic,No,126
6,Mountain,Yes,22
7,Mountain,No,45
8,New England,Yes,3
9,New England,No,60
10,Pacific,No,94
11,Pacific,Yes,112
12,South Atlantic,Yes,22
13,South Atlantic,No,133
14,West North Central,Yes,7
15,West North Central,No,64
16,West South Central,Yes,14
17,West South Central,No,85

In [12]:
data_precautions_income = pd.read_csv('../Analysis Data/data_precautions_income.csv')
data_precautions_income

,How much total combined money did all members of your HOUSEHOLD earn last year?,"Have you or anyone in your household taken any precautions for an earthquake (packed an earthquake survival kit, prepared an evacuation plan, etc.)?",Count
0,"$0 to $9,999",Yes,18
1,"$0 to $9,999",No,49
2,"$10,000 to $24,999",Yes,22
3,"$10,000 to $24,999",No,67
4,"$100,000 to $124,999",Yes,17
5,"$100,000 to $124,999",No,58
6,"$125,000 to $149,999",Yes,6
7,"$125,000 to $149,999",No,39
8,"$150,000 to $174,999",Yes,8
9,"$150,000 to $174,999",No,25
10,"$175,000 to $199,999",Yes,1
11,"$175,000 to $199,999",No,11
12,"$200,000 and up",Yes,20
13,"$200,000 and up",No,30
14,"$25,000 to $49,999",Yes,34
15,"$25,000 to $49,999",No,128
16,"$50,000 to $74,999",Yes,35
17,"$50,000 to $74,999",No,140
18,"$75,000 to $99,999",Yes,29
19,"$75,000 to $99,999",No,107
20,Prefer not to answer,Yes,27
21,Prefer not to answer,No,130