In [1]:
import pandas as pd

data = pd.read_csv('../Orginal Data/earthquake_data.csv')

In [2]:
data

,"In general, how worried are you about earthquakes?","How worried are you about the Big One, a massive, catastrophic earthquake?","Do you think the ""Big One"" will occur in your lifetime?",Have you ever experienced an earthquake?,"Have you or anyone in your household taken any precautions for an earthquake (packed an earthquake survival kit, prepared an evacuation plan, etc.)?",How familiar are you with the San Andreas Fault line?,How familiar are you with the Yellowstone Supervolcano?,Age,What is your gender?,How much total combined money did all members of your HOUSEHOLD earn last year?,US Region
0,Not at all worried,Not so worried,No,"Yes, one or more minor ones",No,Somewhat familiar,Not so familiar,18 - 29,Male,Prefer not to answer,New England
1,Somewhat worried,Very worried,No,"Yes, one or more minor ones",No,Not at all familiar,Not at all familiar,18 - 29,Male,"$75,000 to $99,999",East North Central
2,Not so worried,Somewhat worried,No,"Yes, one or more minor ones",No,Very familiar,Somewhat familiar,18 - 29,Male,"$10,000 to $24,999",Pacific
3,Not so worried,Not so worried,No,"Yes, one or more minor ones",No,Very familiar,Not so familiar,18 - 29,Male,"$25,000 to $49,999",West South Central
4,Not so worried,Not so worried,Yes,"Yes, one or more minor ones",No,Somewhat familiar,Extremely familiar,18 - 29,Male,"$200,000 and up",Middle Atlantic
...,...,...,...,...,...,...,...,...,...,...,...
1008,Not at all worried,Not at all worried,No,"Yes, one or more minor ones",No,Very familiar,Not so familiar,60,Male,Prefer not to answer,Pacific
1009,Not so worried,Somewhat worried,No,"Yes, one or more major ones",Yes,Extremely familiar,Somewhat familiar,60,Female,"$50,000 to $74,999",Pacific
1010,Not so worried,Extremely worried,No,"Yes, one or more minor ones",No,Somewhat familiar,Somewhat familiar,30 - 44,Female,Prefer not to answer,Middle Atlantic
1011,Not at all worried,Not so worried,No,No,No,Somewhat familiar,Somewhat familiar,30 - 44,Female,"$50,000 to $74,999",East North Central
1012,Somewhat worried,Not so worried,No,"Yes, one or more minor ones",No,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1013 entries, 0 to 1012
Data columns (total 11 columns):
 #   Column                                                                                                                                                Non-Null Count  Dtype
---  ------                                                                                                                                                --------------  -----
 0   In general, how worried are you about earthquakes?                                                                                                    1013 non-null   object
 1   How worried are you about the Big One, a massive, catastrophic earthquake?                                                                            1013 non-null   object
 2   Do you think the "Big One" will occur in your lifetime?                                                                                               1013 non-null   object
 3   Have you ever experienced an earthquake?                                                                                                              1006 non-null   object
 4   Have you or anyone in your household taken any precautions for an earthquake (packed an earthquake survival kit, prepared an evacuation plan, etc.)?  1006 non-null   object
 5   How familiar are you with the San Andreas Fault line?                                                                                                 1001 non-null   object
 6   How familiar are you with the Yellowstone Supervolcano?                                                                                               1001 non-null   object
 7   Age                                                                                                                                                   1001 non-null   object
 8   What is your gender?                                                                                                                                  1001 non-null   object
 9   How much total combined money did all members of your HOUSEHOLD earn last year?                                                                       1001 non-null   object
 10  US Region                                                                                                                                             978 non-null    object
dtypes: object(11)
memory usage: 87.2+ KB

In [4]:
data.describe()

,"In general, how worried are you about earthquakes?","How worried are you about the Big One, a massive, catastrophic earthquake?","Do you think the ""Big One"" will occur in your lifetime?",Have you ever experienced an earthquake?,"Have you or anyone in your household taken any precautions for an earthquake (packed an earthquake survival kit, prepared an evacuation plan, etc.)?",How familiar are you with the San Andreas Fault line?,How familiar are you with the Yellowstone Supervolcano?,Age,What is your gender?,How much total combined money did all members of your HOUSEHOLD earn last year?,US Region
count,1013,1013,1013,1006,1006,1001,1001,1001,1001,1001,978
unique,5,5,2,3,2,5,5,4,2,11,9
top,Not at all worried,Not at all worried,No,"Yes, one or more minor ones",No,Somewhat familiar,Somewhat familiar,45 - 59,Female,"$50,000 to $74,999",Pacific
freq,356,334,577,483,788,397,280,275,521,175,206

In [5]:
data_worries_age_gender = data.groupby(['Age', 'What is your gender?', 'In general, how worried are you about earthquakes?']).size().to_frame('Count').sort_values(['Age', 'What is your gender?', 'Count'], ascending=True)

data_worries_age_gender

                                                                                 Count
Age     What is your gender? In general, how worried are you about earthquakes?
18 - 29 Female               Very worried                                            7
                             Extremely worried                                       9
                             Somewhat worried                                       26
                             Not so worried                                         32
                             Not at all worried                                     35
        Male                 Very worried                                            7
                             Extremely worried                                       8
                             Somewhat worried                                       22
                             Not so worried                                         32
                             Not at all worried                                     37
30 - 44 Female               Very worried                                            4
                             Extremely worried                                       8
                             Somewhat worried                                       33
                             Not so worried                                         37
                             Not at all worried                                     49
        Male                 Very worried                                            7
                             Extremely worried                                      10
                             Not so worried                                         29
                             Somewhat worried                                       29
                             Not at all worried                                     51
45 - 59 Female               Extremely worried                                       5
                             Very worried                                            8
                             Somewhat worried                                       31
                             Not at all worried                                     46
                             Not so worried                                         51
        Male                 Extremely worried                                       4
                             Very worried                                            5
                             Somewhat worried                                       27
                             Not at all worried                                     49
                             Not so worried                                         49
60      Female               Extremely worried                                       4
                             Very worried                                            9
                             Not at all worried                                     31
                             Somewhat worried                                       32
                             Not so worried                                         64
        Male                 Extremely worried                                       3
                             Very worried                                            4
                             Somewhat worried                                       18
                             Not so worried                                         33
                             Not at all worried                                     56

In [6]:
data_experience_age_gender = data.groupby(['Age', 'What is your gender?', 'Have you ever experienced an earthquake?']).size().to_frame('Count').sort_values(['Age', 'What is your gender?', 'Count'], ascending=True)

data_experience_age_gender

                                                                       Count
Age     What is your gender? Have you ever experienced an earthquake?
18 - 29 Female               Yes, one or more major ones                   6
                             No                                           51
                             Yes, one or more minor ones                  52
        Male                 Yes, one or more major ones                   7
                             No                                           48
                             Yes, one or more minor ones                  51
30 - 44 Female               Yes, one or more major ones                  17
                             No                                           55
                             Yes, one or more minor ones                  59
        Male                 Yes, one or more major ones                  18
                             No                                           38
                             Yes, one or more minor ones                  70
45 - 59 Female               Yes, one or more major ones                  23
                             No                                           58
                             Yes, one or more minor ones                  60
        Male                 Yes, one or more major ones                  28
                             No                                           37
                             Yes, one or more minor ones                  69
60      Female               Yes, one or more major ones                  31
                             No                                           41
                             Yes, one or more minor ones                  68
        Male                 No                                           30
                             Yes, one or more major ones                  32
                             Yes, one or more minor ones                  52

In [7]:
data_bigone_age_gender = data.groupby(['Age', 'What is your gender?', 'Do you think the "Big One" will occur in your lifetime?']).size().to_frame('Count').sort_values(['Age', 'What is your gender?', 'Count'], ascending=True)

data_bigone_age_gender

                                                                                 Count
Age     What is your gender? Do you think the "Big One" will occur in your l...
18 - 29 Female               Yes                                                    47
                             No                                                     62
        Male                 Yes                                                    41
                             No                                                     65
30 - 44 Female               Yes                                                    61
                             No                                                     70
        Male                 Yes                                                    59
                             No                                                     67
45 - 59 Female               Yes                                                    61
                             No                                                     80
        Male                 Yes                                                    60
                             No                                                     74
60      Female               Yes                                                    55
                             No                                                     85
        Male                 Yes                                                    46
                             No                                                     68

In [8]:
data_precautions_age_gender = data.groupby(['Age', 'What is your gender?', 'Have you or anyone in your household taken any precautions for an earthquake (packed an earthquake survival kit, prepared an evacuation plan, etc.)?']).size().to_frame('Count').sort_values(['Age', 'What is your gender?', 'Count'], ascending=True)

data_precautions_age_gender

                                                                                 Count
Age     What is your gender? Have you or anyone in your household taken any ...
18 - 29 Female               Yes                                                    15
                             No                                                     94
        Male                 Yes                                                    20
                             No                                                     86
30 - 44 Female               Yes                                                    21
                             No                                                    110
        Male                 Yes                                                    26
                             No                                                    100
45 - 59 Female               Yes                                                    27
                             No                                                    114
        Male                 Yes                                                    41
                             No                                                     93
60      Female               Yes                                                    37
                             No                                                    103
        Male                 Yes                                                    30
                             No                                                     84

In [9]:
data_sa_age_gender = data.groupby(['Age', 'What is your gender?', 'How familiar are you with the San Andreas Fault line?']).size().to_frame('Count').sort_values(['Age', 'What is your gender?', 'Count'], ascending=True)

data_sa_age_gender

                                                                                 Count
Age     What is your gender? How familiar are you with the San Andreas Fault...
18 - 29 Female               Extremely familiar                                      5
                             Very familiar                                          16
                             Not so familiar                                        20
                             Not at all familiar                                    24
                             Somewhat familiar                                      44
        Male                 Extremely familiar                                      9
                             Not so familiar                                        10
                             Not at all familiar                                    19
                             Very familiar                                          24
                             Somewhat familiar                                      44
30 - 44 Female               Extremely familiar                                     15
                             Not at all familiar                                    15
                             Not so familiar                                        18
                             Very familiar                                          25
                             Somewhat familiar                                      58
        Male                 Not at all familiar                                     8
                             Not so familiar                                        15
                             Extremely familiar                                     22
                             Very familiar                                          38
                             Somewhat familiar                                      43
45 - 59 Female               Extremely familiar                                     13
                             Not at all familiar                                    18
                             Not so familiar                                        25
                             Very familiar                                          25
                             Somewhat familiar                                      60
        Male                 Not at all familiar                                     7
                             Not so familiar                                        10
                             Extremely familiar                                     21
                             Somewhat familiar                                      45
                             Very familiar                                          51
60      Female               Not at all familiar                                     9
                             Not so familiar                                        12
                             Extremely familiar                                     27
                             Very familiar                                          33
                             Somewhat familiar                                      59
        Male                 Not so familiar                                         4
                             Not at all familiar                                     6
                             Extremely familiar                                     21
                             Very familiar                                          39
                             Somewhat familiar                                      44

In [26]:
data_yellowstone_age_gender = data.groupby(['Age', 'What is your gender?', 'How familiar are you with the Yellowstone Supervolcano?']).size().to_frame('Count').sort_values(['Age', 'What is your gender?', 'Count'], ascending=True)

data_yellowstone_age_gender

                                                                                 Count
Age     What is your gender? How familiar are you with the Yellowstone Super...
18 - 29 Female               Extremely familiar                                      3
                             Very familiar                                          11
                             Not so familiar                                        28
                             Not at all familiar                                    33
                             Somewhat familiar                                      34
        Male                 Extremely familiar                                     12
                             Not so familiar                                        15
                             Very familiar                                          21
                             Not at all familiar                                    24
                             Somewhat familiar                                      34
30 - 44 Female               Extremely familiar                                     10
                             Very familiar                                          12
                             Somewhat familiar                                      35
                             Not so familiar                                        36
                             Not at all familiar                                    38
        Male                 Extremely familiar                                     16
                             Not at all familiar                                    21
                             Not so familiar                                        23
                             Very familiar                                          24
                             Somewhat familiar                                      42
45 - 59 Female               Extremely familiar                                      5
                             Very familiar                                          15
                             Somewhat familiar                                      29
                             Not so familiar                                        39
                             Not at all familiar                                    53
        Male                 Extremely familiar                                     16
                             Not so familiar                                        21
                             Very familiar                                          26
                             Not at all familiar                                    27
                             Somewhat familiar                                      44
60      Female               Very familiar                                          10
                             Extremely familiar                                     17
                             Somewhat familiar                                      32
                             Not so familiar                                        34
                             Not at all familiar                                    47
        Male                 Extremely familiar                                     14
                             Very familiar                                          20
                             Not so familiar                                        23
                             Not at all familiar                                    27
                             Somewhat familiar                                      30

In [31]:
data_worries_region = data.groupby(['US Region', 'In general, how worried are you about earthquakes?']).size().to_frame('Count').sort_values(['US Region', 'Count', 'In general, how worried are you about earthquakes?'], ascending=True)

data_worries_region

                                                                       Count
US Region          In general, how worried are you about earthquakes?
East North Central Very worried                                            3
                   Extremely worried                                       8
                   Somewhat worried                                       16
                   Not so worried                                         49
                   Not at all worried                                     64
East South Central Extremely worried                                       1
                   Somewhat worried                                       10
                   Not so worried                                         13
                   Not at all worried                                     16
Middle Atlantic    Very worried                                            3
                   Extremely worried                                       6
                   Somewhat worried                                       22
                   Not so worried                                         46
                   Not at all worried                                     60
Mountain           Very worried                                            1
                   Extremely worried                                       5
                   Somewhat worried                                       15
                   Not so worried                                         20
                   Not at all worried                                     26
New England        Extremely worried                                       3
                   Very worried                                            3
                   Somewhat worried                                        7
                   Not at all worried                                     21
                   Not so worried                                         29
Pacific            Extremely worried                                       9
                   Not at all worried                                     26
                   Very worried                                           28
                   Not so worried                                         60
                   Somewhat worried                                       83
South Atlantic     Very worried                                            4
                   Extremely worried                                       6
                   Somewhat worried                                       27
                   Not at all worried                                     57
                   Not so worried                                         61
West North Central Extremely worried                                       3
                   Very worried                                            4
                   Somewhat worried                                       13
                   Not so worried                                         14
                   Not at all worried                                     37
West South Central Very worried                                            2
                   Extremely worried                                       6
                   Somewhat worried                                       19
                   Not so worried                                         28
                   Not at all worried                                     44

In [32]:
data_earthquake_region = data.groupby(['US Region', 'Have you ever experienced an earthquake?']).size().to_frame('Count').sort_values(['US Region', 'Count', 'Have you ever experienced an earthquake?'], ascending=True)

data_earthquake_region

                                                             Count
US Region          Have you ever experienced an earthquake?
East North Central Yes, one or more major ones                   3
                   No                                           61
                   Yes, one or more minor ones                  76
East South Central No                                           20
                   Yes, one or more minor ones                  20
Middle Atlantic    Yes, one or more major ones                   8
                   No                                           48
                   Yes, one or more minor ones                  81
Mountain           No                                           16
                   Yes, one or more major ones                  22
                   Yes, one or more minor ones                  29
New England        Yes, one or more major ones                   3
                   Yes, one or more minor ones                  26
                   No                                           34
Pacific            No                                           19
                   Yes, one or more major ones                  93
                   Yes, one or more minor ones                  94
South Atlantic     Yes, one or more major ones                  10
                   No                                           60
                   Yes, one or more minor ones                  85
West North Central Yes, one or more major ones                   4
                   Yes, one or more minor ones                  20
                   No                                           47
West South Central Yes, one or more major ones                  13
                   Yes, one or more minor ones                  40
                   No                                           46

In [34]:
data_sf_region = data.groupby(['US Region', 'How familiar are you with the San Andreas Fault line?']).size().to_frame('Count').sort_values(['US Region', 'Count', 'How familiar are you with the San Andreas Fault line?'], ascending=True)

data_sf_region

                                                                       Count
US Region          How familiar are you with the San Andreas Fault...
East North Central Extremely familiar                                      9
                   Not at all familiar                                    17
                   Not so familiar                                        21
                   Very familiar                                          31
                   Somewhat familiar                                      62
East South Central Not so familiar                                         4
                   Extremely familiar                                      6
                   Not at all familiar                                     6
                   Very familiar                                           8
                   Somewhat familiar                                      16
Middle Atlantic    Extremely familiar                                     14
                   Not at all familiar                                    14
                   Not so familiar                                        19
                   Very familiar                                          39
                   Somewhat familiar                                      51
Mountain           Not at all familiar                                     4
                   Not so familiar                                         4
                   Extremely familiar                                     10
                   Very familiar                                          20
                   Somewhat familiar                                      29
New England        Extremely familiar                                      5
                   Not at all familiar                                     5
                   Not so familiar                                         7
                   Very familiar                                          21
                   Somewhat familiar                                      25
Pacific            Not at all familiar                                    13
                   Not so familiar                                        15
                   Extremely familiar                                     49
                   Somewhat familiar                                      63
                   Very familiar                                          66
South Atlantic     Extremely familiar                                     16
                   Not at all familiar                                    22
                   Not so familiar                                        27
                   Very familiar                                          27
                   Somewhat familiar                                      63
West North Central Not so familiar                                         5
                   Not at all familiar                                     7
                   Extremely familiar                                      8
                   Very familiar                                          15
                   Somewhat familiar                                      36
West South Central Not so familiar                                         4
                   Not at all familiar                                    13
                   Extremely familiar                                     15
                   Very familiar                                          20
                   Somewhat familiar                                      47

In [35]:
data_yellowstone_region = data.groupby(['US Region', 'How familiar are you with the Yellowstone Supervolcano?']).size().to_frame('Count').sort_values(['US Region', 'Count', 'How familiar are you with the Yellowstone Supervolcano?'], ascending=True)

data_yellowstone_region

                                                                       Count
US Region          How familiar are you with the Yellowstone Super...
East North Central Extremely familiar                                     10
                   Very familiar                                          12
                   Not so familiar                                        36
                   Somewhat familiar                                      39
                   Not at all familiar                                    43
East South Central Very familiar                                           4
                   Extremely familiar                                      5
                   Not so familiar                                         6
                   Not at all familiar                                     9
                   Somewhat familiar                                      16
Middle Atlantic    Extremely familiar                                     18
                   Very familiar                                          19
                   Somewhat familiar                                      27
                   Not so familiar                                        28
                   Not at all familiar                                    45
Mountain           Not so familiar                                         6
                   Extremely familiar                                     12
                   Not at all familiar                                    12
                   Very familiar                                          16
                   Somewhat familiar                                      21
New England        Extremely familiar                                      1
                   Very familiar                                           7
                   Not at all familiar                                    12
                   Not so familiar                                        18
                   Somewhat familiar                                      25
Pacific            Extremely familiar                                     17
                   Not so familiar                                        42
                   Very familiar                                          43
                   Not at all familiar                                    52
                   Somewhat familiar                                      52
South Atlantic     Extremely familiar                                      8
                   Very familiar                                          16
                   Not so familiar                                        35
                   Not at all familiar                                    47
                   Somewhat familiar                                      49
West North Central Extremely familiar                                      8
                   Not so familiar                                        13
                   Very familiar                                          13
                   Somewhat familiar                                      17
                   Not at all familiar                                    20
West South Central Very familiar                                           9
                   Extremely familiar                                     14
                   Not at all familiar                                    22
                   Not so familiar                                        27
                   Somewhat familiar                                      27

In [36]:
data_precautions_region = data.groupby(['US Region', 'Have you or anyone in your household taken any precautions for an earthquake (packed an earthquake survival kit, prepared an evacuation plan, etc.)?']).size().to_frame('Count').sort_values(['US Region', 'Count', 'Have you or anyone in your household taken any precautions for an earthquake (packed an earthquake survival kit, prepared an evacuation plan, etc.)?'], ascending=True)

data_precautions_region

                                                                       Count
US Region          Have you or anyone in your household taken any ...
East North Central Yes                                                    12
                   No                                                    128
East South Central Yes                                                     9
                   No                                                     31
Middle Atlantic    Yes                                                    11
                   No                                                    126
Mountain           Yes                                                    22
                   No                                                     45
New England        Yes                                                     3
                   No                                                     60
Pacific            No                                                     94
                   Yes                                                   112
South Atlantic     Yes                                                    22
                   No                                                    133
West North Central Yes                                                     7
                   No                                                     64
West South Central Yes                                                    14
                   No                                                     85

In [37]:
data_precautions_income = data.groupby(['How much total combined money did all members of your HOUSEHOLD earn last year?', 'Have you or anyone in your household taken any precautions for an earthquake (packed an earthquake survival kit, prepared an evacuation plan, etc.)?']).size().to_frame('Count').sort_values(['How much total combined money did all members of your HOUSEHOLD earn last year?', 'Count', 'Have you or anyone in your household taken any precautions for an earthquake (packed an earthquake survival kit, prepared an evacuation plan, etc.)?'], ascending=True)

data_precautions_income

                                                                                                       Count
How much total combined money did all members o... Have you or anyone in your household taken any ...
$0 to $9,999                                       Yes                                                    18
                                                   No                                                     49
$10,000 to $24,999                                 Yes                                                    22
                                                   No                                                     67
$100,000 to $124,999                               Yes                                                    17
                                                   No                                                     58
$125,000 to $149,999                               Yes                                                     6
                                                   No                                                     39
$150,000 to $174,999                               Yes                                                     8
                                                   No                                                     25
$175,000 to $199,999                               Yes                                                     1
                                                   No                                                     11
$200,000 and up                                    Yes                                                    20
                                                   No                                                     30
$25,000 to $49,999                                 Yes                                                    34
                                                   No                                                    128
$50,000 to $74,999                                 Yes                                                    35
                                                   No                                                    140
$75,000 to $99,999                                 Yes                                                    29
                                                   No                                                    107
Prefer not to answer                               Yes                                                    27
                                                   No                                                    130